html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    margin: 0;
    padding: 0;
}
p{
    width: 100%;
    z-index: 99;
    font-weight: bolder;
    margin: 0;
    display: none;
    cursor: default;
}
#welcome{
    height: 35px;
    margin-top: 15px;
    font-size: 30px;
}
#enter{
    height: 55px;
    margin: 0;
    font-size: 25px;
}
.base{
    width: 480px;
    height: 242px;
    margin: 10% auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bor{
    width: 400px;
    height: 150px;
    z-index: 99;
    display: flex;
    text-align: center;
    flex-flow: row wrap;
    transition: border .7s ease;
}
img{
    position: absolute;
}

.stream{
    background-image: -webkit-linear-gradient(left, #D81D73, #E6D205 25%, #147B96 50%, #E6D205 75%, #147B96);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-background-size: 200% 100%;
    -webkit-animation: masked-animation 4s infinite linear;
}

@-webkit-keyframes masked-animation {
    0%  { background-position: 0 0;}
    100% { background-position: -100% 0;}
}

.stream2{

    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-background-size: 200% 100%;
    -webkit-animation: masked-animation2 3s infinite ease;
}
@-webkit-keyframes masked-animation2 {
    0%  { background-color: #69BD90;}
    30% {background-color: #3077CE}
    40%  { background-color: #69BD90;}
    60% {background-color: #3077CE}
    100% { background-color: #9CA683}
}
