html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
}

p {
    font-weight: bolder;
    cursor: default;
}

.base {
    width: 480px;
    height: 242px;
    margin: 10% auto;
    position: relative;
    text-align: center;
}

.bor {
    width: 400px;
    height: 180px;
    position: absolute;
    left: 50%;
    top: 2rem;
    margin-left: -200px;
    opacity: 0;
}

.bor::before {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    height: 0;
    border: solid #fff;
    border-width: 0 3px;
    transition: all 1s;
    z-index: -1;
}

.bor:after {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    border: solid #fff;
    border-width: 3px 0;
    transition: all 1s;
    z-index: -1;
}

.base:hover .bor {
    transition: all 1s;
    opacity: 1;
    z-index: 10;
}

.base:hover .bor::before {
    top: 0;
    height: 100%;
    box-sizing: border-box;
}

.base:hover .bor::after {
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

img {
    width: 480px;
    height: 242px;
}

.base:hover img {
    filter: blur(2px);
}

.stream {
    font-size: 30px;
    background-image: -webkit-linear-gradient(left, #D81D73, #E6D205 25%, #147B96 50%, #E6D205 75%, #147B96);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-background-size: 200% 100%;
    -webkit-animation: masked-animation 4s infinite linear;
}

@-webkit-keyframes masked-animation {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -100% 0;
    }
}

.stream2 {
    font-size: 25px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-background-size: 200% 100%;
    -webkit-animation: masked-animation2 3s infinite ease;
}

@-webkit-keyframes masked-animation2 {
    0% {
        background-color: #69BD90;
    }
    30% {
        background-color: #3077CE
    }
    40% {
        background-color: #69BD90;
    }
    60% {
        background-color: #3077CE
    }
    100% {
        background-color: #9CA683
    }
}
